body{
  background: #ffffff;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  column-gap: 15px; */
  height: 100%;
  margin: 0;
  padding: 15px;
  padding-top: 0;
  /* overflow: hidden; */
}
html {
    height: 100%;
}
img{
  position: relative;
  width: 100%;
  mix-blend-mode: difference;
  /* margin-top: 15px; */
   mix-blend-mode: difference;
   grid-column: 1/7;
}

/* TYPE */
@font-face {
 font-family: tex;
 src: url(texgyreheroscn-regular.otf);
}
q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

h1{
  font-family: "tex", helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 145.4%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;

  mix-blend-mode: difference;

  padding: 0;
  z-index: 10;
}

  #menu{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 0px; */
    /* margin-top: 15px; */
    margin: 0;
    padding: 0;
    mix-blend-mode: difference;
    z-index: 10;
  }
    #fall{
      /* margin-left: 15px; */
    }
    #class{
      display: flex;
      margin-left: 582.85px;
    }
    #school{
      margin-left: 473px;
      right: 15px;
    }

  #projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 15px;
    mix-blend-mode: difference;
    z-index: 10;
  }
  .proj{
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
  }

  .titles{
    grid-column: 1/1;
    /* mix-blend-mode: difference; */
  }
  .dates{
    grid-column: 2/2;
  }
  .descriptions{
    grid-column: 3/6;
  }
  .links{
    grid-column: 6/7;
    text-align: right;
    right: 0;

  }
      .links:hover{
        color: cyan;
        transition: 0.5s;
        cursor: pointer;
      }
  #p1{
    /* margin-top: 15px;
     mix-blend-mode: difference;
     grid-column: 1/7; */
  }

  #bye{
    color: #000000;
    grid-column: 3/5;
    text-align: center;

    margin-bottom: 15px: 
  }
