body{
    background: #ffffff;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
  }
  
  /* RICKY XIE SENT shout out*/
  /* dont scale svg in media query */
  html {
      height: 100%;
  }

  a{
    font-family: 'Arial Narrow';
    color: #FF710B;
    text-decoration: none;
  }
  a:hover{
    color: #FAFF0B;
    transition: 0.4s ease-out;
  }
  a:active{
    color: #FAFF0B;
  }
  q {
    quotes: "“" "”" "‘" "’";
  }
  q::before {
      content: open-quote;
  }
  q::after {
      content: close-quote;
  }
  ::selection {
    color: #000000;
    /* text-shadow: none; */
    background: #E9E9E9;
}
text::selection {
    fill: #000000;
    text-shadow: none;
    background: #e9e9e9;
}

details, summary {
    /* text-align: center; */
    height: 16px;
    padding-left: 3.6px;
    padding-right: 0;
    padding-top: 2px;
}
details{
  
 color: #e9e9e9;
 cursor: pointer;
 width: 66px;
 height: 100vh;

 
 margin: 0 auto; 
 margin-top: 16px;
 padding-left: 3.6px;
 padding-right: 0;
 padding-top: 2px;
}

  .name{
    position: fixed;
    width: 1570px;
    height: 801px;
    left: 13px;
    top: 2px;

    font-size: 360px;
    line-height: 75%;
    letter-spacing: -0.13em;

    color: rgba(25, 36, 0, 0.04);

    z-index: -9999;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  h1, summary{
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    
    color: #E9E9E9;

    margin: 0;
  }
  h2{ 
    font-family: 'Arial Narrow';
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.045em;
    text-align: left;
    text-transform: uppercase;
    
    color: #E9E9E9;

    margin: 0;
   
    /* transform: skew(24deg); */
  }
  span{
    font-style: italic;
   
  }
  .quote{
    font-family: Apple Chancery;
    font-style: italic;
    font-weight: normal;
    font-size: 120px;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: #000;
  }
.open{
  position: relative;
  margin: 0;
  height: 20px;
  margin-left: -386px;
  margin-top: 77px;
}
.close{
  position: relative;
  margin: 0;
  height: 20px;
  margin-left: 513px;
  margin-top: -15px;
}
  .text{
    background-color: #000000;
    padding: 0;
    margin: 0;
  }
  /* .text2{
    background-color: #000000;
    padding: 0;
    margin: 0;

    transform: skew(0);
  } */

  .course{
      position: fixed;
      width: 135px;
      left: 16px;
      bottom: 16px;
      padding-left: 3.6px;
      padding-right: 0;

      text-transform: uppercase;
      color: #E9E9E9;
  }
  #course{
    color: #E9E9E9;
  }
  #course:hover{
    color: #FAFF0B;
    transition: 0.4s ease-out;
  }

  .content{
      width: 832px;
      position: relative;
  }
  .print{
    left: -428px;
  }
  .web{
      left: -190px;
  }
  .words{
    left: -309px;
    
  }
  #handmade{
    margin-top: -41px;
  }


  .work{
    position: relative;
    margin-top: 13px;
    padding-left: 3px;
    padding-bottom: 2px;
    padding-top: 1px;
  }

 
  .momaps1-title{
      margin-left: 52px;
      width: 286px;
  }
  .momaps1-desc{
      width: 420px;
  }

#momaps1{
  margin-top: 16px;
}
.coin-title{
    margin-left: 52px;
    width: 275px;
}
.coin-desc{
    width: 424px;
}
.wikibook-title{
    margin-left: 52px;
    width: 274px;
}
.wikibook-desc{
    width: 422px;
}

#noise{
    padding-bottom: 16px;
}
.noise-title{
    margin-left: 52px;
    width: 190px;
}
.noise-desc{
    width: 408px;
}
.handmade-title{
  margin-top: 10px;
  margin-left: 52px;
    width: 331px;
}
.handmade-desc{
  width: 832px;
}
.holodec-title{
  margin-left: 52px;
  width: 375px;
}
.holodec-desc{
  width: 408px;
}

/* .handmade{
  background-color: #000000;
  padding: 0;
  margin: 0;
  width: 832px;
  margin-left:-309px;

    transform: skew(0);
} */




