body{
  background-color: #ffffff;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr);
  column-gap: 15px; */
  height: 100%;
  margin: 0;
  padding: 15px;
  padding-top: 0;
  /* overflow: hidden; */
}
html {
    height: 100%;
}
img{
  position: relative;
  width: 100%;
  /* mix-blend-mode: difference; */
  /* margin-top: 15px; */
   /* mix-blend-mode: difference; */
   grid-column: 1/7;
}

/* TYPE */
@font-face {
 font-family: tex;
 src: url(texgyreheroscn-regular.otf);
}
q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

h1{
  font-family: "tex", helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 145.4%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;

  /* mix-blend-mode: difference; */

  padding: 0;
  /* z-index: 10; */
}


  #projects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 15px;
    /* mix-blend-mode: difference; */
    /* z-index: 10; */
  }
  #menu{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 15px;
    width: 98%;
    z-index: 10;
    mix-blend-mode: difference;
  }
    .menu{
      display: grid;


      margin-top: 15px;
      margin-bottom: 15px;
      padding: 0;

    }
      #fall{
        grid-column: 1/1;
      }
      #class{
        grid-column: 3/5;
        text-align: center;
      }
      #school{
        grid-column: 6/7;
        text-align: right;
      }
      #p1{
        margin-top: 45px;
      }
  .proj{
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    z-index: 12;
    mix-blend-mode: difference;
    /* background-color: #ffffff; */
  }

  .titles{
    grid-column: 1/1;
  }
  .dates{
    grid-column: 2/2;
  }
  .descriptions{
    grid-column: 3/6;
  }
  .links{
    grid-column: 6/7;
    text-align: right;
    right: 0;

    font-family: "tex", helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 145.4%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;

  }
      .links:hover{
        color: red;
        transition: 0.5s;
        cursor: pointer;
      }


  #bye{
    color: #000000;
    grid-column: 3/5;
    text-align: center;

    margin-bottom: 15px:
  }
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  mix-blend-mode: difference;
  margin: 0;
}
  #name{
    color: #ffffff;
    grid-column: 3/5;
    text-align: center;
    /* mix-blend-mode: difference; */

    margin-bottom: 15px:
  }

  /* Chrome version 29 and above */
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
selector{ property:value; }
h1{
  color: #ffffff;
}
.proj{
  color: #000;
  mix-blend-mode: difference;
  /* z-index: 0; */
}
.links:hover{
  color: cyan;
  transition: 0.5s;
  cursor: pointer;
}
#name{
  color: #ffffff;
}
img{
  mix-blend-mode: difference;
  z-index: 0;
}
#p1{
  margin-top: 0;
}
}
