body{
  background: #000000;
}

@font-face {
 font-family: knif;
 src: url(knif-mono.woff2);
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

::selection {
    color: #4b4b4b;
    text-shadow: none;
    background: transparent;
}
text::selection {
    fill: #4b4b4b;
    text-shadow: none;
    background: transparent;
}

h2::selection {
    color: #cecece;
    text-shadow: none;
    background: transparent;
}

h1{
font-family: "IBM Plex Mono", monospace;
font-weight: 500;
font-size: 0.75rem;
line-height: 145.4%;
letter-spacing: 0.04em;
color: #ffffff;
}
h3{
font-family: "knif", times;
font-weight: 300;
font-size: 0.75rem;
line-height: 150%;
letter-spacing: -0.005em;
color: #ffffff;
}
p{
/*  position: fixed;
  left: 87.78%;
  right: 5.21%;
  top: 86.83%;
  bottom: 2.44%;*/

font-family: "knif", times;
font-weight: 300;
font-size: 0.75rem;
line-height: 150%;
letter-spacing: -0.005em;
color: #ffffff;
text-align: center;
}
h2{
font-family: "IBM Plex Mono", monospace;
font-weight: 400;
display: table;
font-size: 0.6875rem;
letter-spacing: 0.1%;
text-transform: uppercase;
text-align: center;

color: #000000;
background-color: #ffffff;

margin: 0px auto 0px auto;
padding: 4.5px 7px 4.5px 7px;
}
#info{
  position: fixed;
font-family: "knif", times;
font-weight: 300;
font-size: 0.75rem;
line-height: 150%;
letter-spacing: -0.005em;
color: #ffffff;

margin-top: 88vh;
margin-left: 76.6%;
}
img{
  width: 17.5vw;
  height: 17.5vw;
  overflow: hidden;
  border-radius: 50%;
}

.txt{
  position: fixed;
  margin-left: 1.3vw;
}

#sitetitle{
margin-top: 1.5vh;
}
#sitedes{
margin-top: 3.9vh;
}
#sitebtm{
margin-top: 92.3vh;
}

.cls-3:hover{
  fill: white;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.cls-2{
  cursor: pointer;
}

#l-country:hover{
  fill: #4b4b4b;
}

.ring{
stroke-dasharray: 3 4;
}
