body{
  height: 100%;
  margin: 0;
  background-color: #eaeaea;
  overflow: auto;
}
html {
    height: 100%;
    padding: 0;
}

.center-letter{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TYPE */
@font-face {
 font-family: sohne;
 src: url(sohne-fett.woff2);
}

q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: transparent;
}
text::selection {
    fill: #fff;
    text-shadow: none;
    background: transparent;
}

/* test */
.scroll-vidcont{
  margin: 0;
  position: fixed;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: scroll;
  z-index: -10;
}
.video-container{
  margin: 0;
  top: 0;
  /* position: fixed; */
  display: flex;
            /* width: 100%; */
            /* height: 100vh; */
  /* grid-template-columns: repeat(60, auto); */
            /* grid-auto-rows: 1; */
            align-items: flex-start;
            justify-content: flex-start;
  z-index: -10;
  /* overflow: scroll; */
            /* overflow-x: auto; */
  min-width: 100vw;
}

video{
  margin: 0;
  top: 0;
  height: 100vh;
  width: 1.667vw;
  z-index: -10;
  object-fit: fill;
  display: block;
}
  video.active{
    width: 100%;
    /* transition: 0.1s ease-out; */
  }


/* TEXTTTTTTTTTTTTTTTTTTTTTTTTTTTT */
h1{
  font-family: sohne;
  font-size: 12.2rem;
  letter-spacing: -0.025em;
  line-height: 0.76;
  color: #ff1e00;
  text-align: left;
  margin: 0;
  mix-blend-mode: difference;
  margin-left: 0.8%;
  margin-top: 0.8%;
      margin-right: 0;
      margin-bottom: 0;
  z-index: -5;
  position: fixed;
}

h3{
  font-family: sohne;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: #ff1e00;
  text-transform: uppercase;
  text-align: left;
  margin-left: 0.8%;
  margin-top: 0.8%;
      margin-right: 0;
      margin-bottom: 0;
  position: fixed;


  mix-blend-mode: difference;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 5px;
  padding-bottom: 4px;
}
    .des{
      position: fixed;
      mix-blend-mode: difference;
      z-index: -5;
      margin-top: 11.8%;
    }
    .category{
      position: fixed;
      margin: 0;
      left: 0.8%;
      bottom: 0.8%;
      padding-left: 6px;
      display: none;
    }
        .category.cactive{
          display: block;
        }
    .volume{
      position: fixed;
      right: 0.8%;
      text-align: center;
    }
    .volume:hover{
      cursor: pointer;
    }
      .increase{
        bottom: 5.8%;
        padding-right: 7px;
      }
      .decrease{
        bottom: 1.5%;
        padding-left: 10px;
        padding-right: 9px;
      }

h2{
  font-family: sohne;
  font-size: 12.2rem;
  letter-spacing: -0.025em;
  line-height: 0.76;
  color: #ff1e00;
  text-align: center;
  /* text-transform: uppercase; */

  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;

  margin: 0;
}

      .key{
        font-family: sohne;
        font-size: 12.2rem;
        letter-spacing: -0.025em;
        line-height: 0.76;
        color: #ff1e00;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: difference;
        height: 13rem;
        width: 100vw;
        position: fixed;
        top: 40vh;
      }

        .show-pressed{
          display: none;
          /* width: 10%;
          height: 100%; */
          position: relative;
          z-index: -10;
        }
          .show-pressed.press{
            display: block;
            position: relative;
            z-index: -10;

    	-webkit-animation: bye 0.4s ease-out both;
    	        animation: bye 0.4s ease-out both;
              animation-delay: 3s;
          }

@-webkit-keyframes bye {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fbye {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
