body{
  background-color: #F6FAFA;
  font-family: "nanum-myeongjo", times;
  margin: 0;
  font-weight: normal;
}

a{
  font-weight: normal;
}
a{
  text-decoration: none;
}


q {
  quotes: "“" "”" "‘" "’";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

.large{
  display: block;
}
.xs{
  display:none;
}
.md{
  display: none;
}

.title{
  text-align: center;

  font-size: 5vw;
  line-height: 94.5%;
  letter-spacing:  -0.055em;
  word-spacing: 3.61vw;

  color: rgba(29, 42, 45, 0.001);
  text-shadow: 0px 0px 1px #253538;
}
#author{
  position: fixed;
  margin-top: 2.99vw;
  margin-left: 31vw;
}
#book{
  position: fixed;
  margin-top: 42.78vw;
  margin-left: 4vw;
  bottom: 2.9vw;

  word-spacing: 17vw;
}

#start{
  position: fixed;
  display: flex;
  z-index: 500;
  align-items: center;
  text-align: center;
  margin-left: 9vw;
  margin-top: 9.8vw;

  font-size: 3.125vw;
  line-height: 9.268vh;
  letter-spacing: -0.04em;
  word-spacing: 2.5vw;

  color: rgba(246, 250, 250, 0.001);
  text-shadow: 0px 0px 2px #F6FAFA;
  opacity: 1;
}
.low{
  opacity: 0.2;
}
.med{
  opacity: 0.6;
}
.high{
  opacity: 1;
}

.scroll{
  left: 0px;
  top: 0px;
  overflow-y: scroll;
}
#grad{
  width: 100vw;
  height: 200vh;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #FFFFFF 0%,
          rgba(232, 235, 235, 0) 11%,
          rgba(226, 229, 230, 0) 40.95%,
          rgba(143, 150, 152, 0.365854) 45.2%,
          rgba(66, 77, 79, 0.707435) 48.29%,
          #001A20 49.95%, #001216 65.45%,
          #00090B 78.83%, #000000 101.25%);
}
.txt{
  -webkit-animation: come 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: come 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes come {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes come {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


/*.same{
  margin-top: 9.268vh;
}*/

.left{
grid-column: 2 / 5;
text-align: left;
padding-top: ;
}
.right{
grid-column: 5 / 8;
text-align: left;
}
.cent{
grid-column: 3 / 7;
text-align: center;
}

#bod{
   transition: opacity 0.05s ease-in;
}
#body{
  position: relative;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 100vh;
  overflow-y: scroll;

  background-color: none;
}
#bgtop{
  z-index: 700;
  width: 100vw;
  height: 9904.63vh;
  left: 0px;
  top: 0px;

  background: radial-gradient(4240.88% 100% at 100% 100%, #FFFFFF 0.24%,
    #EEEDE5 1%, #E3E1DC 1.44%, #CFCBC1 3.9%, #386363 7.58%, #003247 13.49%,
     #00212F 16.63%, #00253A 20.79%, #03222B 23.17%, #042128 24.2%, #001E25 25.57%,
     #0D3037 27.46%, #103838 28.65%, #002022 29.58%, #000A13 30.68%,
      #000000 34.02%, #001013 35.12%, #08242B 36.85%, #063540 38.13%, #04141A 40.74%,
       #00181A 46.41%, #001216 48.87%, #001E25 49.85%, #00313D 50.76%, #00282B 53.05%,
       #002020 54.22%, #002B2B 55.88%, #001623 58%, #001216 61.17%, #00212C 63.18%, #001318 63.72%,
        #000F12 64.18%, #000C0E 65.25%, #000000 66.8%, #002123 69.45%, #001D24 71.38%, #001A1C 72.32%,
        #00111B 73.8%, #00181A 75.68%, #000202 78.27%, #000000 79.22%, #000407 79.85%, #00121F 80.41%,
         #001C24 82.41%, #001A20 84.32%, #003F47 86.97%, #002936 89.39%, #001927 91.21%, #002128 93.66%,
          #002E38 94.67%, #00565B 97.04%, #003E4D 98.15%, #001A20 99.35%);

  -webkit-animation: come 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: come 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.6667vw;
  min-height: 100vh;
}


.max{
  font-size: 4.0625em;
  margin-block-start: 6.625rem;
  margin-block-end: 0em;
}
.mid{
  font-size: 3.125em;
  margin-block-start: 6.1875rem;
  margin-block-end: 0em;
}
.min{
  font-size: 2.375em;
  letter-spacing: 0.025em;
  margin-block-start: 4.75rem;
  margin-block-end: 0em;
}
p{
  letter-spacing: -0.01em;
  line-height: 137%;
  word-spacing: 1vw;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
  color: rgba(246, 250, 250, 0.001);
  text-shadow: 0px 0px 2px #F6FAFA;
}

#p3{
  margin-block-start: 30rem;
}
#p6{
  margin-block-start: 53rem;
}
#p8{
  margin-block-start: 41rem;
}
#p10{
  margin-block-start: 17rem;
}
#p12{
  margin-block-start: 17rem;
}
#p15{
  margin-block-start: 46rem;
}
#p16{
  margin-block-start: 6.6rem;
}
#p19{
  margin-block-start: 30rem;
}
#p20{
  margin-block-start: 6rem;
}
#p22{
  margin-block-start: 30rem;
}
#p23{
  margin-block-start: 6.6rem;
}
#p26{
  margin-block-start: 30rem;
}
#p28{
  margin-block-start: 36rem;
}
#p33{
  margin-block-start: 19rem;
}
#p34{
  margin-block-start: 6.6rem;
}
#p36{
  margin-block-start: 30rem;
}
#p37{
  margin-block-start:6.6rem;
}
#p38{
  margin-block-start:102.5rem;
}
#p39{
  margin-block-start: 142.5rem;
}
#p43{
  margin-block-start:35rem;
}
#p44{
  margin-block-start:6.6rem;
}
#p46{
  margin-block-start:23rem;
}
#p47{
  margin-block-start:6.6rem;
}
#p49{
  margin-block-start:35rem;
}
#p53{
  margin-block-start: 30rem;
}
#p58{
  margin-block-start: 19rem;
}
#p63{
  margin-block-start:47rem;
}
#p67{
  margin-block-start:35.5rem;
}
#p69{
  margin-block-start:30rem;
}
#p71{
  margin-block-start:41rem;
}
#p74{
  margin-block-start:35rem;
}
#p76{
  margin-block-start:41rem;
}


#p78{
  margin-block-start: 85rem;
}
#p79{
  margin-block-start: 108.1875rem;
}
#p81{
  margin-block-start: 25.1875rem;
}
#p83{
  margin-block-start: 32.1875rem;
}
#p86{
  margin-block-start: 29.1875rem;
}
#p89{
  margin-block-start: 22.1875rem;
}
#p91{
  margin-block-start: 37.1875rem;
}
#p95{
  margin-block-start: 24.1875rem;
}
#p97{
  margin-block-start: 25.1875rem;
}
#p99{
  margin-block-start: 29.1875rem;
}
#p101{
  margin-block-start: 25.1875rem;
}
#p103{
  margin-block-start: 18.1875rem;
}
#p106{
  margin-block-start: 21.1875rem;
}
#p108{
  margin-block-start: 22.1875rem;
}
#p111{
  margin-block-start: 16.1875rem;
}
#p112{
  margin-block-start: 6.1875rem;
}
#p115{
  margin-block-start: 25.1875rem;
}
#p118{
  margin-block-start: 25.1875rem;
}
#p122{
  margin-block-start: 21rem;
}
#p124{
  margin-block-start: 100rem;
}
#p126{
  margin-block-start: 21.1875rem;
}
#p130{
  margin-block-start: 28.1875rem;
}
#p131{
  margin-block-start: 6.1875rem;
}
#p133{
  margin-block-start: 25.1875rem;
}
#p135{
  margin-block-start: 37.1875rem;
}
#p141{
  margin-block-start: 20.1875rem;
}
#p143{
  margin-block-start: 30.1875rem;
}
#p146{
  margin-block-start: 37.1875rem;
}
#p148{
  margin-block-start: 20.1875rem;
}
#p156{
  margin-block-start: 41.1875rem;
}
#p158{
  margin-block-start: 26.1875rem;
}
#p161{
  margin-block-start: 34.1875rem;
}
#p164{
  margin-block-start: 29.1875rem;
}
#p167{
  margin-block-start: 37.1875rem;
}
#p169{
  margin-block-start: 18.1875rem;
}
#p171{
  margin-block-start: 16.1875rem;
}
#p173{
  margin-block-start: 16.1875rem;
}
#p175{
  margin-block-start: 30.1875rem;
}
#p178{
  margin-block-start: 21.1875rem;
}
#p180{
  margin-block-start: 20.1875rem;
}
#p183{
  margin-block-start: 20.1875rem;
}
#p185{
  margin-block-start: 25.1875rem;
}
#p187{
  margin-block-start: 25.1875rem;
}



#p189{
  margin-block-start: 51.125rem;
}
#p190{
  margin-block-start: 68.75rem;
}
#p192{
  margin-block-start: 25.75rem;
}
#p194{
  margin-block-start: 4.75rem;
}
#p196{
  margin-block-start: 16.75rem;
}
#p197{
  margin-block-start: 4.75rem;
}
#p199{
  margin-block-start: 12.75rem;
}
#p200{
  margin-block-start: 4.75rem;
}
#p201{
  margin-block-start: 4.75rem;
}
#p203{
  margin-block-start: 19.75rem;
}
#p205{
  margin-block-start: 4.75rem;
}
#p206{
  margin-block-start: 14.75rem;
}
#p209{
  margin-block-start: 12.75rem;
}
#p212{
  margin-block-start: 15.75rem;
}
#p214{
  margin-block-start: 12.75rem;
}
#p218{
  margin-block-start: 17.75rem;
}


/* Portrait */
@media only screen
  and (min-device-height: 568px)
  and (max-device-height: 739.99px)
  and (orientation: portrait){
  .title{
    font-size: 8vw;
    line-height: 101.5%;
    letter-spacing:  -0.015em;
    word-spacing: 4.5vw;

    text-shadow: 0px 0px 0.5px #253538;
  }
  #author{
    position: fixed;
    margin-top: 6.16vh;
    margin-left: 17.5vw;
  }
  #book{
    position: fixed;
    margin-bottom: 7vh;
    margin-left: 7.5vw;

    word-spacing: 5.3vw;
  }
  .large{
    display: none;
  }
  .xs{
    display: block;
  }
  .md{
    display: none;
  }
  #start{
    margin-left: 9.6vw;
    margin-top: 13vh;
    margin-bottom: 1vh;

    font-size: 6.93vw;
    line-height: 168.5%;
    letter-spacing: -0.03em;
    word-spacing: 2vw;
    }
  }
}

@media only screen
  and (min-device-height: 740px)
  and (max-device-height: 800px)
  and (orientation: portrait){
    .title{
      font-size: 8vw;
      line-height: 101.5%;
      letter-spacing:  -0.015em;
      word-spacing: 4.5vw;

      text-shadow: 0px 0px 0.5px #253538;
    }
    #author{
      position: fixed;
      margin-top: 4vh;
      margin-left: 17.5vw;
    }
    #book{
      position: fixed;
      margin-top: 2vh;
      margin-left: 7.5vw;

      word-spacing: 5.3vw;
    }

    .large{
      display: none;
    }
    .xs{
      display: none;
    }
    .md{
      display: block;
    }
    #start{
      margin-left: 16vw;
      margin-top: 15vh;

      font-size: 6vw;
      line-height: 178%;
      letter-spacing: 0em;
      word-spacing: 2vw;
    }
  }
